body {
	background: #1c1f2b;
}

.overlay {
	position: fixed;
	background-color: #111;
	opacity: 0.9;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	z-index: 10;
	cursor: pointer;
}

p {
	font-family: 'Gotham SSm A', 'Gotham SSm B';
	font-weight: 200;
	font-style: normal;
}

.navbar-right {
	float: right !important;
    margin-right: -15px;
    position: relative;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
	height: 150px;
}

.navbar-brand {
	transition: opacity 200ms ease-in-out;
}

.navbar-brand img {
	width: 58px;
	height: 25px;
	margin-top: 60px;
}

.nav.navbar-right > li > a {
	color: #FFF;
	background-color: #202230;
	width: 140px;
	height: 60px;
	text-transform: uppercase;
	margin-top: 55px;
	border-radius: 4px;
	padding: 20px;
	text-align: center;
	padding-top: 23px;
	font-size: 11px;
	transition: transform 200ms ease-in-out;
}	
	
.nav.navbar-right > li > a:hover {
	background-color: #333245;
}

.nav.navbar-right > li > a:active, .nav.navbar-right > li > a:focus {
	background-color: #202230;
}
	
ul > li a {
	font-family: "brandon-grotesque";
	letter-spacing: 3px;
	font-weight: 500;
}

ul > li {
	font-family: "brandon-grotesque";
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 3px;
}
  
ul {
	padding-left: 0px;
	list-style: none;
	text-transform: uppercase;
	color: #FFF;
	width: 188px;
	margin: 0px;
}

#list1 {
	width: 150px;
	float: left;
}

#list2 {
	width: 160px;
	float: left;
	margin-left: 75px;
	margin-top: 122px;
}

.hero {
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #161925;
}

.jumbotron {
	background-color: transparent;
	height: 545px;
	color: #ffffff;
}

.jumbotron h1 {
	font-size: 80px;
	line-height: 105px;
	letter-spacing: -3px;
}

.jumbotron h2 {
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 3px;
	margin-top: 30px;
}

.jumbotron h3 {
	margin-top: 110px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	opacity: 0.25;
	letter-spacing: 2px;
	margin-right: 0px;
	
}

.jumbotron p {
	font-size: 16px;
}

.jumbotron a{
	color: #f7c243;
}

h1 {
	font-family: 'Gotham SSm A', 'Gotham SSm B';
	font-weight: 200;
	font-style: normal;
	font-size: 80px;
}
  
h1 strong {
	font-weight: 600;
}
  
p {
	color: #fff;
	font-size: 15px;
	font-weight: 200;
	line-height: 34px;
	letter-spacing: 0.5px;
	margin-top: 25px;
}
  
div .image-holder {
	background-position: right center;
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	max-width: 1450px;
	background-image: url('http://lorempixel.com/685/600');
	margin-top: 13px;
}

h3 img {
	width: 24px;
	height: 24px;
}

.camera { 
	margin-right: 8px;
	margin-bottom: 2px;
}

.background h3 {
	color: #636a73;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 2px;
	margin-top: 100px;
}

.one {
	background-color: #161925;
	margin-top: -30px;
}
	
.one h3 {
	margin-top: 20px;
}

.two {
	background-color: #161925;
}
	
.space {
	margin-bottom: 100px;
}

.two ul {
	line-height: 76px;
}
	
.three {
	background-color: #161925;
}
	
.three h2 {
	margin-top: 140px;
	color: #f1be45;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 3px;
}

.three a {
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	color: #FFF;
}

.three p {
	margin-bottom: 141px;
}
	
.four {
	background-color: #1c1f2b;
}
	
.four h1 {
  	font-family: 'Gotham SSm A', 'Gotham SSm B';
  	font-weight: 200;
  	font-style: normal;
  	font-size: 55px;
	color: #FFF;
	margin-top: 170px;
	margin-bottom: 170px;
	line-height: 80px;
	letter-spacing: -3px;
}
	
.four h3 { 
	margin-top: 185px;
}

.four ul { 
	line-height: 30px;
}
.four a { 
	color: #FFF;
}
	
.five {
	background-color: #161925;
	height: 115px;
}

.five p {
	font-family: "brandon-grotesque";
	letter-spacing: 3px;
	font-weight: 500;
	font-size: 11px;
	color: #636a73;
	margin-top: 45px;
	margin-bottom: 35px;
	text-transform: uppercase;
}

.five p a {
	color: #636a73;
	text-decoration: none;
}

.navbar-left {
	width: auto;
	margin-left: 15px;
	padding-left: 30px;
	margin-top: 57px;
	height: 60px;
	border-left: 1px solid #3D3F47;
}

.navbar-left.nav li a, .navbar-left.nav li a:hover {
	color: #FFF;
	line-height: 30px;
	font-size: 11px;
	padding: 15px 30px;
}

.contact-button-container {
	position: relative;
}

.navbar-right .contact-button {
	transition: all 200ms ease-in-out;
}

.navbar-right .contact-button:after {
	content: "";
	height: 13px;
	width: 18px;
	display: block;
	background-image: url("/img/check.svg");
	background-repeat: no-repeat;
	position: absolute;
	right: 50%;
	margin-right: -9px;
	top: 50%;
	margin-top: -6px;
	opacity: 0;
	transition: all 200ms ease-in-out;
}

.navbar-right .contact-button.success {
	color: #202230;
}

.navbar-right .contact-button.success:hover {
	color: #333245;
}

.navbar-right .contact-button.success:after {
	opacity: 1;
}

.nav.navbar-right > li > a.close-button {
	margin: 0;
	width: 60px;
	position: absolute;
	right: 50px;
	top: -60px;
	display: none;
}

.email-form {
	width: 280px;
	padding-top: 15px;
	position: absolute;
	right: 50px;
	z-index: 20;
}

.email-form input {
	padding: 15px 20px;
	width: 100%;
	height: 50px;
	background-color: #292B3B;
	font-size: 12px;
	border-radius: 0;
	border: 0;
	outline: 0;
	font-family: 'Gotham SSm A', 'Gotham SSm B';
}

.email-form input[type=email] {
	margin-bottom: 10px;
}

.email-form textarea {
	padding: 15px 20px;
	margin-bottom: 5px;
	height: 242px;
	width: 100%;
	resize: none;
	background-color: #292B3B;
	font-size: 12px;
	border-radius: 0;
	border: 0;
	outline: 0;
	font-family: 'Gotham SSm A', 'Gotham SSm B';
}

.email-form textarea:focus, .email-form textarea:active {
	border-bottom: 2px solid #EDBA42;
}

.email-form input[type=submit] {
	background-color: #FFF;
	border-radius: 2px;
	color: #161925;
	text-align: center;
	background-image: url("/img/rarr.svg");
	background-repeat: no-repeat;
	background-position: center;
	border-bottom: 0 !important;
}

.email-form input:focus, .email-form input:active {
	border-bottom: 2px solid #EDBA42;
}

.email-form ::-webkit-input-placeholder {
    color: #525360;
}

.email-form :-moz-placeholder {
   color: #525360;
   opacity: 1;
}

.email-form ::-moz-placeholder {
   color: #525360;
   opacity: 1;
}

.email-form :-ms-input-placeholder {
   color: #525360;
}

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}
	
@media all and (max-width: 1200px){
	
	#list2 {
		width: 150px;
		float: left;
		margin-left: 65px;
		margin-top: 122px;
	}

	.four h3 { 
		margin-top: 195px;
	}
	
	.five p {
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 1000px){
	
	#list2 {
		margin-left: 145px;
	}
		
	.four h1 {
		margin-bottom: 60px;
	}
	
	.four h3 {
		margin-top: 45px;
	}
	
	.five {
		margin-top: 170px;
		height: 150px;
	}
	
	.text-right {
		text-align: left;
		margin-top: -35px;
	}

	.contact-button-container {
		display: none !important;
	}
}


@media screen and (max-width: 480px) {
	.nav.navbar-right > li > a {
		margin-right: 0;
	}

	.jumbotron h1, .four h1 {
		font-size: 50px;
		line-height: 65px;
	}

	#list1, #list2 {
		float: none;
	}

	#list2 {
		margin-left: 0;
		margin-top: 0;
	}

	.jumbotron {
		height: 440px;
	}

	.four h1 {
		margin-top: 100px;
	}

	.five {
		height: 210px;
		margin-top: 120px;
	}

	.five p {
	    margin-bottom: 0;
	}

	.navbar-left.nav li a, .navbar-left.nav li a:hover {
		padding: 15px;
	}

	.navbar-left {
		padding-left: 15px;
	}
} 

















